{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>{{ title }}</title>
 
</head>
<body>
        <scrpit type="text/javascript" src="/static/js/jquery.js"></scrpit>
        <scrpit type="text/javascript" src="/static/js/base.js"></scrpit>
        <scrpit type="text/javascript" src="/static/js/bootstrap.js"></scrpit>
        <script type="text/javascript" src="/static/js/swiper.jquery.js"></script>
        <script type="text/javascript" src="/static/axf/user/js/register.js"></script>