{% load templatehelper %}
{% for teacher,count in zipdata %}
    <a href= >{{teacher.teachername}}</a>
    <h5>课程：{{teacher.teacherclass}}</h5>
    <h5>是否是教授：
        {% if teacher.isprofessor %}
            是
        {% else %}
            否
        {% endif %}
    </h5>
    <h5>
        有 {{teacher.countisroll_call |dev:count }} 的人认为这个老师喜欢点名
    </h5>
    <h5>
        有 {{teacher.countisquality |dev:count }} 的人认为这个老师教学质量好
    </h5>
    <h5>
        有 {{teacher.countishighscore |dev:count }} 的人认为这个老师给分高
    </h5>
    <h5>
        有 {{teacher.countisfunny |dev:count }} 的人认为这个老师上课有意思
    </h5>
    <h5>
        有 {{teacher.countisrecommend |dev:count }} 的人认为这个老师值得被你选
    </h5>
    <hr>
{% endfor %}