<script src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js"></script> 
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>
    {% load templatehelper %}
    {% for teacher in teacherinformation %}
        <h2>教师姓名：{{teacher.teachername}}</h2>
        <h5>课程：{{teacher.teacherclass}}</h5>
        <h5>是否是教授：
            {% if teacher.isprofessor %}
                是
            {% else %}
                否
            {% endif %}
        </h5>
        <h5>
            有 {{teacher.countisroll_call |dev:count}} 的人认为这个老师喜欢点名
        </h5>
        <h5>
            有 {{teacher.countisquality |dev:count}} 的人认为这个老师教学质量好
        </h5>
        <h5>
            有 {{teacher.countishighscore |dev:count}} 的人认为这个老师给分高
        </h5>
        <h5>
            有 {{teacher.countisfunny |dev:count}} 的人认为这个老师上课有意思
        </h5>
        <h5>
            有 {{teacher.countisrecommend |dev:count}} 的人认为这个老师值得被你选
        </h5>
        <hr>
    {% endfor %}
    <form action = "/createinformation/" method="post">{% csrf_token %}
        对于{{ teachername }}老师<br>
        我来说两句：<input type="text" name = "evaluation"><br>
        爱点名 是：<input type="checkbox" name = "isroll_call" value="1">
        教学质量好 是：<input type="checkbox" name = "isquality" value="1">
        给分高 是：<input type="checkbox" name = "ishighscore" value="1">
        上课有趣 是：<input type="checkbox" name = "isfunny" value="1">
        值得推荐给同学们 是：<input type="checkbox" name = "isrecommend" value="1">
        <input type="submit" value="提交">
    </form>
    <form action = "/sortby/" method="POST">{% csrf_token %}
        排序方法
        <input type = "submit" name = "sortby" value="点赞量">
        <input type = "submit" name = "sortby" value="最新回复">
    </form>
    {% for evaluation in evaluations %}

    
        <h5>{{evaluation.timestamp}}</h2>
        <h5>{{evaluation.teacherevaluation}}</h5>
        <input type="button"  id = "{{evaluation.timestamp}}" value="点赞">
        <h5 class = "{{evaluation.timestamp}}">{{evaluation.likecount}}</h5>
        <hr>
        <script>
            $(document).ready(function(){
                $(document.getElementById("{{evaluation.timestamp}}")).click(function(){
                    $.ajax({
                        url:"/like_add/",
                        type:'POST',
                        data:{
                            'timestamp' : '{{ evaluation.timestamp|date:"Y-m-d H:i:s.uuuuuu" }}',
                        },
                        success:function(result){
                            $(document.getElementsByClassName("{{evaluation.timestamp}}")).html(result.New)
                        }
                        })
                    })
            });
        </script>
        
    {% endfor %}
        