<body>
    {% csrf_token %}
    <input id="test" type="submit" value="点赞">
    <p id="test1">这里的信息会变化</p>
<script>
    $(document).ready(function(){
        $('#test').click(function(){
            $.ajax({
                url:"/test_ajax",
                type:"post",
                dataType:"json",
                data:{
                    user:123,
                    csrfmiddlewaretoken:'{{ csrf_token }}',
                },
                success:function(result){
                    $('#test1').html(result.News)
                },
                error:function(response){
	    		window.wxc.xcConfirm("失败", window.wxc.xcConfirm.typeEnum.error);
                }
        })
    })
</script>
</body>
